{% load i18n %}
<h1>{{ sprint }} {% if sprint.goal %}- {{ sprint.goal }}{% endif %}{% if sprint.deadline %} - {% trans "deadline" %} {{ sprint.deadline_str }}{% endif%} - {{ sprint.load }}/{{ sprint.velocity }}</h1>
<ul class="sortable sprint" id="sort_{{ sprint_num }}">
	{% for item in sprint.items.all %}
		<li class="ui-state-default" id="{{ item.id }}" style="display: none;" ></li>
	{% endfor %}
</ul>

<script type="text/javascript">
	load_items($("#sort_{{ sprint_num }}"), {{ items_json }});
</script>
